.Navbar {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  height: var(--navbar-height);
  box-shadow: var(--navbar-box-shadow);
  position: relative;
  z-index: 1;
}

.navbarItem{
  display: flex;
  align-items: center;
}

.langSwitcher{
  margin-left: 5px;
}
