.AppLink {
  padding: 5px;
  border-radius: 5px;
  color: var(--primary);

}

.primary{
  color: var(--primary);

  &:hover{
    background-color: var(--background-color);
  }

}

.secondary{
  color: var(--secondary);

  &:hover{
    background-color: var(--background-color);
  }
}